<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--<property name="hibernate.connection.username"></property>-->
        <!--<property name="hibernate.connection.password"></property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-235-206-118.compute-1.amazonaws.com:5432/d6uvk77pfqdnhn?sslmode=require&amp;user=oetbcufnqiznou&amp;password=2c04e9c0fab1ab1bec3f64925597a2f8a56d2a3f6a1fa93210ad7aefb9204dfc</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>

        <mapping class = "models.Article"/>
        <mapping class= "models.Journalist"/>
    </session-factory>
</hibernate-configuration>